:host img {
  float: left;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  background-size: cover;
}

.carousel-inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

:host .picsum-img-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}

:host .mat-display-1 {
  font-size: 1.75rem;
  font-weight: bold;
  text-shadow: 1px 1px #d50000;
}

// @media (max-width: 600px) {
//   :host img {
//     width: 100%;
//   }
// }
@media (max-width: 900px) {
  :host img {
    width: 100%;
    height: 250px;
  }
}
