<ngb-carousel
  #carousel
  interval="2000"
  [pauseOnHover]="pauseOnHover"
  (slide)="onSlide($event)"
>
  <ng-template ngbSlide *ngFor="let carousel of carousel_urls | keyvalue">
    <div class="carousel-caption">
      <h3 class="mat-display-1" color="primary">
        {{ carousel_texts[carousel.key] }}
      </h3>
    </div>
    <a href="#">
      <div class="picsum-img-wrapper">
        <img
          preserveAspectRatio="xMidYMid slice"
          [src]="carousel.value"
          alt="My image description"
        />
      </div>
    </a>
  </ng-template>
</ngb-carousel>
