<ngb-carousel
  #carousel
  interval="2000"
  [pauseOnHover]="pauseOnHover"
  (slide)="onSlide($event)"
>
  <ng-template
    ngbSlide
    *ngFor="let carousel_url of carousel_urls; let i = index"
  >
    <div class="carousel-caption">
      <h3 class="mat-display-1" color="primary">
        {{ carousel_texts[i] }}
      </h3>
    </div>

    <div class="picsum-img-wrapper">
      <img
        preserveAspectRatio="xMidYMid slice"
        [src]="carousel_url"
        alt="My image description"
      />
    </div>
  </ng-template>
</ngb-carousel>
