<main role="main">
  <app-carousel
    [carousel_urls]="carousel_urls"
    [carousel_texts]="carousel_texts"
  ></app-carousel>
  <div class="container marketing">
    <div class="row">
      <div class="col-lg-4">
        <h2>aanbod</h2>
        <p>
          Onze persoonlijke service samen met een verrassend groot assortiment,
          met meer dan 18.000 verschillende producten waarvan 50% in de
          versmarkt, gaan hand in hand. Elke dag gaan wij samen met onze
          medewerkers tot het uiterste om onze klanten te bedienen.
        </p>
      </div>
      <div class="col-lg-4">
        <h2>kwaliteit</h2>
        <p>
          Kwaliteit primeert bij ons, dagelijks zijn we in de weer om onze
          klanten echt 'vers' aan te bieden. Daarnaast vind je bij ons Belgische
          kwaliteitsproducten. Bier, brood, chocolade ...'t Komt allemaal van
          hier.
        </p>
      </div>

      <div class="col-lg-4">
        <h2>klantvriendelijkheid</h2>
        <p>
          Bij ons is service een moto in plaats van een afdeling. We doen er
          alles aan om je het winkelen zo leuk mogelijk te maken. Vind je
          bijvoorbeeld iets niet, dan helpen we je graag. Aan de kassa laten we
          je nooit lang wachten. Heeft u anders nog een vraag dan zoeken wij het
          antwoord!
        </p>
      </div>
      <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider" />

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">
          bio voeding
          <span class="text-muted">ruim assortiment</span>
        </h2>
        <p class="lead">
          Wij weten waar onze klanten naar op zoek zijn, daarom bieden we een
          uitgebreid assoritment bio voeding aan. Van avocado tot chocolade, bij
          ons vind je het bio.
        </p>
      </div>
      <div class="col-md-5">
        <!-- <img
          src="assets/images/jutte.jpg"
          class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
          width="500"
          height="500"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        /> -->
        <img [src]="picture_urls['store_1']" width="500" />
      </div>
    </div>

    <hr class="featurette-divider" />

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">
          ruime parking
          <span class="text-muted">1 uur gratis met kasticket</span>
        </h2>
        <p class="lead">
          Grote boodschappentas? Geen probleem wanneer u bij ons langskomt. We
          beschikken over een ruime parking waarin u 2u gratis kan parkeren bij
          gebruik van een kasticket
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <!-- <img
          src="assets/images/buiten.jpg"
          class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
          width="500"
          height="500"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        /> -->
        <img [src]="picture_urls['store_2']" width="500" />
      </div>
    </div>

    <hr class="featurette-divider" />

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">
          Vegan <span class="text-muted">ook zonder vlees...</span>
        </h2>
        <p class="lead">
          Ook voor zij met een vegan, paleo, keto .... dieet bieden wij vele
          producten aan. Denk maar aan cocosbloem of een heerlijke beyond
          burger.
        </p>
      </div>
      <div class="col-md-5">
        <!-- <img
          src="assets/images/sfeer.jpg"
          class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
          width="500"
          height="500"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        /> -->
        <img [src]="picture_urls['store_3']" width="500" />
      </div>
    </div>

    <hr class="featurette-divider" />

    <!-- /END THE FEATURETTES -->
  </div>
  <!-- /.container -->

  <!-- FOOTER -->
</main>
