<main *ngIf="loaded.pictures && loaded.texts" role="main">
  <app-carousel
    [carousel_texts]="[
      contentJSON.textInfo.carousel_text_1,
      contentJSON.textInfo.carousel_text_2,
      contentJSON.textInfo.carousel_text_3
    ]"
    [carousel_urls]="[
      contentJSON.pictureUrls.storecarousel_1,
      contentJSON.pictureUrls.storecarousel_2,
      contentJSON.pictureUrls.storecarousel_3
    ]"
  ></app-carousel>
  <div class="container marketing">
    <div class="row">
      <div class="col-lg-4">
        <h2>{{ contentJSON.textInfo.storetop_title_1 }}</h2>
        <p>
          {{ contentJSON.textInfo.storetop_text_1 }}
        </p>
      </div>
      <div class="col-lg-4">
        <h2>{{ contentJSON.textInfo.storetop_title_2 }}</h2>
        <p>
          {{ contentJSON.textInfo.storetop_text_2 }}
        </p>
      </div>

      <div class="col-lg-4">
        <h2>{{ contentJSON.textInfo.storetop_title_3 }}</h2>
        <p>
          {{ contentJSON.textInfo.storetop_text_3 }}
        </p>
      </div>
      <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider" />

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">
          {{ contentJSON.textInfo.store_title_1 }}
        </h2>
        <p class="lead">
          {{ contentJSON.textInfo.store_text_1 }}
        </p>
      </div>
      <div class="col-md-5">
        <!-- <img
          src="assets/images/jutte.jpg"
          class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
          width="500"
          height="500"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        /> -->
        <div style="width: 400px">
          <img
            [src]="contentJSON.pictureUrls.store_1"
            style="max-width: 100%;
          max-height: 100%;
          display: block"
          />
        </div>
      </div>
    </div>

    <hr class="featurette-divider" />

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">
          {{ contentJSON.textInfo.store_title_2 }}
        </h2>
        <p class="lead">
          {{ contentJSON.textInfo.store_text_2 }}
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <!-- <img
          src="assets/images/buiten.jpg"
          class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
          width="500"
          height="500"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        /> -->
        <div style="width: 400px">
          <img
            [src]="contentJSON.pictureUrls.store_2"
            style="max-width: 100%;
          max-height: 100%;
          display: block"
          />
        </div>
      </div>
    </div>

    <hr class="featurette-divider" />

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">
          {{ contentJSON.textInfo.store_title_3 }}
        </h2>
        <p class="lead">
          {{ contentJSON.textInfo.store_text_3 }}
        </p>
      </div>
      <div class="col-md-5">
        <!-- <img
          src="assets/images/sfeer.jpg"
          class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto"
          width="500"
          height="500"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        /> -->
        <div style="width: 400px">
          <img
            [src]="contentJSON.pictureUrls.store_3"
            style="max-width: 100%;
          max-height: 100%;
          display: block"
          />
        </div>
      </div>
    </div>

    <hr class="featurette-divider" style="visibility:hidden" />

    <!-- /END THE FEATURETTES -->
  </div>
  <!-- /.container -->

  <!-- FOOTER -->
</main>
