.col-lg-4 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.carousel-item {
  height: 32rem;
}

.marketing {
  margin-top: 3rem;
}
