<mat-card class="sandwich__wrapper"
  ><mat-card-header>
    <div mat-card-avatar>{{ sandwich.price | currency: "EUR":true }}</div>
    <mat-card-title>{{ sandwich.name }}</mat-card-title>
  </mat-card-header>
  <img
    mat-card-image
    src="../../../../assets/images/broodje.jpg"
    alt="sandwich"
  />
  <mat-card-content class="sandwich__wrapper__content">
    <mat-card-subtitle class="sandwich__subtitle"
      ><span
        class="sandwich__ingedient"
        *ngFor="let ingredient of sandwich.ingredients"
        >{{ ingredient }}</span
      ></mat-card-subtitle
    >
  </mat-card-content>
  <mat-card-actions>
    <button (click)="addSandwich()" mat-raised-button color="primary">
      <mat-icon mat-list-icon>add</mat-icon>
    </button>
  </mat-card-actions></mat-card
>
