@import "~@angular/material/theming";

// Define a mixin that accepts a theme and outputs the theme-specific styles.
@mixin contact-theme($theme) {
  // Extract the palettes you need from the theme definition.
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  // Define any styles affected by the theme.
  .list-item i {
    // Use mat-color to extract ndividual colors from a palette.
    color: mat-color($primary);
  }
  .list-item i span,
  .list-item i a {
    // Use mat-color to extract ndividual colors from a palette.
    color: mat-color($accent);
  }
}

@mixin contact-theme-typography($config) {
  .contactbanner {
    font: {
      family: mat-font-family($config, title);
      size: mat-font-size($config, title);
      weight: mat-font-weight($config, title);
    }
  }
}
