:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.order-list {
  //   height: 200px;
  //   overflow: overlay;
  overflow-y: overlay;
  overflow-x: hidden;
  max-height: 70vh;
}
.opties .mat-checkbox {
  padding: 3px;
}

.opties {
  display: flex;
  align-items: center;
  justify-content: center;
}

.opties > * {
  margin: 0 5px;
}

mat-list-item {
  margin: 10px 10px;
  overflow-y: hidden;
}
