<div *ngIf="order.length < 5; else elseBlock">
  onvoldoende broodjes voor bestelling
</div>
<ng-template #elseBlock>
  <mat-list class="order-list">
    <mat-list-item class="mat_item" *ngFor="let broodje of order">
      <mat-icon mat-list-icon>fastfood</mat-icon>
      <h4 mat-line>{{ broodje.name }}</h4>
      <p mat-line class="price-display">{{ broodje.price.toFixed(2) }} euro</p>
      <app-ingredients
        (ingredientsChange)="handleIngredientsChange($event, broodje.id)"
        [ingredients]="broodje.ingredients"
      ></app-ingredients>
      <div class="opties">
        <mat-radio-group
          name="kind_{{ broodje.id }}"
          (change)="handleBreadChange($event, broodje.id)"
          required
        >
          <mat-radio-button
            color="primary"
            class="example-margin"
            value="wit"
            [checked]="true"
            >wit</mat-radio-button
          >
          <mat-radio-button color="primary" class="example-margin" value="bruin"
            >bruin <span>(+ 0.3 euro)</span></mat-radio-button
          >
        </mat-radio-group>
      </div>
      <button mat-icon-button (click)="handleSandwichRemove(broodje.id)">
        <mat-icon color="primary">clear</mat-icon>
      </button>
      <mat-divider></mat-divider>
    </mat-list-item>
  </mat-list>
  <!-- <button (click)="[trigger_order()]" mat-raised-button color="accent">
    verzend bestelling
  </button> -->
  <div class="price_btn_wrapper">
    <span class="total">totaal: {{ price }}€</span>
    <button
      color="accent"
      mat-raised-button
      matStepperNext
      (click)="update_order()"
    >
      naar verzenden
    </button>
  </div>
</ng-template>
