@import "~@angular/material/theming";

// Define a mixin that accepts a theme and outputs the theme-specific styles.
@mixin opening-theme($theme) {
  // Extract the palettes you need from the theme definition.
  $primary: map-get($theme, background);
  $accent: map-get($theme, primary);
  $warn: map-get($theme, warn);
  $white: map-get($theme, card);
  // Define any styles affected by the theme.
  .mat-button-wrapper {
    color: white !important;
  }
}

@mixin opening-theme-typography($config) {
}
