<div class="home">
  <header class="home__header">
    <div class="home__header__content">
      <div class="home__header__content__headlines">
        <h1>Delhaize Dok-Noord</h1>
        <h2>
          het gemak van een supermarkt met het hart van een buurtwinkel.
          <br /><span *ngIf="isOpen as else; elseBlock"
            >spring gerust eens binnen wij zijn momenteel open.</span
          >
          <ng-template #elseBlock
            >helaas zijn we momenteel gesloten.</ng-template
          >
        </h2>
      </div>
      <div class="home__header__content__buttons">
        <link-button [link]="link">plaats bestelling</link-button>
        <app-opening-dialog [search_term]="search_term[0]"
          >ontdek broodje van maand</app-opening-dialog
        >
        <app-opening-dialog [search_term]="search_term[1]"
          >ontdek soep van de week</app-opening-dialog
        >
        <app-opening-dialog [search_term]="search_term[2]"
          >bekijk promos</app-opening-dialog
        >
      </div>
      <ul class="home__header__content__opening">
        <li>dinsdag tot en met zaterdag open van 8:00 tot 20:00</li>
        <li>zondag open van 8:00 tot 13:00</li>
        <li>maandag open van 12:00 tot 20:00</li>
        <span>* uitzonderlijk gesloten nieuwjaar en kerstdag</span>
      </ul>
    </div>
  </header>
  <main class="home__main">
    <div class="home__main__content">
      <app-store></app-store>
      <app-foot></app-foot>
    </div>
  </main>
</div>
