<div class="home">
  <header class="home__header">
    <div class="home__header__content">
      <div class="home__header__content__headlines">
        <h1>Delhaize Dok-Noord</h1>
        <h2>
          het gemak van een supermarkt met het hart van een buurtwinkel.
          <br /><span *ngIf="isOpen as else; elseBlock"
            >spring gerust eens binnen wij zijn momenteel open.</span
          >
          <ng-template #elseBlock
            >helaas zijn we momenteel gesloten.</ng-template
          >
        </h2>
      </div>
      <div class="home__header__content__buttons" *ngIf="picturesLoaded">
        <link-button [link]="link">plaats bestelling</link-button>
        <app-opening-dialog [picture_url]="PictureUrls.broodjemaand"
          >ontdek broodje van maand</app-opening-dialog
        >
        <app-opening-dialog [picture_url]="PictureUrls.soepweek"
          >ontdek soep van de week</app-opening-dialog
        >
        <app-opening-dialog [picture_url]="PictureUrls.promo"
          >bekijk promo</app-opening-dialog
        >
      </div>
      <ul class="home__header__content__opening">
        <li>dinsdag tot en met zaterdag open van 8:00 tot 20:00</li>
        <li>zondag open van 8:00 tot 13:00</li>
        <li>maandag open van 12:00 tot 20:00</li>
        <span>* uitzonderlijk gesloten nieuwjaar en kerstdag</span>
      </ul>
    </div>
    <svg id="svg" xmlns="http://www.w3.org/2000/svg" viewBox="-300 0 950 270">
      <path
        d="M-314,267 C105,364 400,100 812,279"
        fill="none"
        stroke="white"
        stroke-width="120"
        stroke-linecap="round"
      />
    </svg>
  </header>
  <main class="home__main">
    <div class="home__main__content">
      <app-store></app-store>
      <app-foot></app-foot>
    </div>
  </main>
</div>
