// Custom Theming for Angular Material
@import "~@angular/material/theming";
@import "./app/components/global/navigation/navigation.component.custom.scss";
@import "./app/components/global/foot/foot.component.custom.scss";
@import "./app/components/pages/home/home.component.custom.scss";
@import "./app/components/pages/contact/contact.component.custom.scss";
// includes base styling for angular material package
@include mat-core();

// define custom colors to use
$my-theme-primary: mat-palette($mat-red, 800, 700, 600);
$my-theme-accent: mat-palette($mat-indigo, 200, 700, 600);
$my-theme-warn: mat-palette($mat-grey, 800, A100, A400);

// creation of the theme object
$my-theme-theme: mat-light-theme(
  $my-theme-primary,
  $my-theme-accent,
  $my-theme-warn
);

// Define an alternate dark theme.
$dark-primary: mat-palette($mat-red, 800, 700, 600);
$dark-accent: mat-palette($mat-amber, 800, A100, A400);
$dark-warn: mat-palette($mat-deep-orange);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);

$custom-typography: mat-typography-config(
  $font-family: "Roboto, monospace",
  $headline: mat-typography-level(40px, 48px, 700),
  $subheading-1: mat-typography-level(16px, 24px, 300),
  $body-1: mat-typography-level(16px, 24px, 500),
  $title: mat-typography-level(40px, 20px, 700)
);

.my-light-theme {
  @include angular-material-theme($my-theme-theme);
  @include navbar-theme($my-theme-theme);
  @include home-theme($my-theme-theme);
  @include foot-theme($my-theme-theme);
  @include contact-theme($my-theme-theme);
  @include home-theme-typography($custom-typography);
  @include navbar-typography($custom-typography);
  @include contact-theme-typography($custom-typography);
}
.my-dark-theme {
  @include angular-material-theme($dark-theme);
  @include navbar-theme($dark-theme);
  @include home-theme($dark-theme);
  @include foot-theme($my-theme-theme);
  @include contact-theme($my-theme-theme);
  @include home-theme-typography($custom-typography);
  @include navbar-typography($custom-typography);
  @include contact-theme-typography($custom-typography);
}
